__pycache__/
test.py
backend/database/backup/*
!backend/database/backup/.gitkeep
venv/
frontend/dist/
.vscode/
dist.zip
test/
backend/database/plans/*.json
node_modules/
dmp-angular-legacy/
dist/
build/
beta-testing/