<div class="grid gap-6 grid-cols-2">
    <div class="bg-blue-200 rounded-lg p-4 shadow-md">
        <h2 class="karta-nadpis">Stroje</h2>
        <p class="text-sm text-gray-600">Popis karty 1</p>
    </div>
    <div class="bg-blue-200 rounded-lg p-4 shadow-md">
        <h2 class="karta-nadpis">Typy revizí</h2>
        <p class="text-sm text-gray-600">Popis karty 2</p>
    </div>
    <div class="bg-blue-200 rounded-lg p-4 shadow-md">
        <h2 class="karta-nadpis">Záznamy revizí</h2>
        <p class="text-sm text-gray-600">Popis karty 3</p>
    </div>
    <div class="bg-blue-200 rounded-lg p-4 shadow-md">
        <h2 class="karta-nadpis">Školení</h2>
        <p class="text-sm text-gray-600">Popis karty 4</p>
    </div>
</div>
