@import "tailwindcss";

.max-table-h-filter-shown {
    max-height: 40vh;
}
.max-table-h-filter-hidden {
    max-height: 52vh;
}
.today-cell {
    @apply bg-yellow-200;
}

.add-form-input {
    @apply border border-gray-300 rounded px-2 py-1 mb-4;
}