@import "tailwindcss";

// .max-table-h-filter-shown {
//     max-height: 40vh;
// }
.max-table-h-filter-shown {
    max-height: 52vh;
}
.max-table-h-filter-hidden {
    max-height: 62vh;
}
.today-cell {
    @apply bg-yellow-200;
}

.is-even-td td {
    @apply bg-indigo-500;
}

.spin-btn::-webkit-inner-spin-button,
.spin-btn::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.late {
    @apply text-red-600 font-semibold;
}