<app-header-btns />
<main class="p-7 bg-gray-100 my-5 rounded-lg shadow-lg shadow-gray-300 h-90vh">
    @if (mode == 'add') {
        <p>adding</p>
    }
    @else if (mode == 'remove') {
        <p>removing</p>
    }
    @else if (mode == 'list') {
        <!-- <div class="flex justify-center mb-2 space-x-5 flex-wrap"> Filtry -->
        <div class="grid grid-cols-2 gap-4 mb-2 pb-4 place-items-center bg-gray-200">
            <div class="col-span-2 flex items-center justify-between bg-gray-500 w-full"> <!-- Nadpis filtrů, schování filtrů -->
                <!-- <button class=" h-3" title="Schovat filtry"> -->
                    <img [src]="filtersShowHideIcons[filtersShow]" alt="Schovat filtry"
                        class="w-3.5 inline absolute left-1/13 bg-gray-300 p-0.5 rounded cursor-pointer hover:bg-gray-400 transition-colors duration-200"
                        (click)="toggleFilters()"
                    />
                <!-- </button> -->
                <span class="text-xs mx-auto left-3 relative transform -translate-x-1/2 text-white">Filtry</span>
                <span></span>
            </div>
            @if (filtersShow) {
                <div>
                    <label for="nameFilter" class="mr-2 font-semibold">Název:</label>
                    <input [(ngModel)]="nameFilter" type="text" id="nameFilter" class="border border-gray-300 rounded px-2 py-1" placeholder="Název stroje" />
                </div>
                <div>
                    <label for="inNumFilter" class="mr-2 font-semibold">Inventární číslo:</label>
                    <input [(ngModel)]="inNumFilter" type="text" id="inNumFilter" class="border border-gray-300 rounded px-2 py-1" placeholder="Inventární číslo" />
                </div>
                <div>
                    <label for="typeFilter" class="mr-2 font-semibold">Typ:</label>
                    <select [(ngModel)]="typeFilter" id="typeFilter" class="border border-gray-300 rounded px-2 py-1">
                        <option value="">Vše</option>
                        @for (type of typesList; track $index) {
                            <option value="{{ type }}">{{ type }}</option>
                        }
                    </select>
                </div>
                <div class="transition-all duration-1000">
                    <label for="locationFilter" class="mr-2 font-semibold">Lokace:</label>
                    <select [(ngModel)]="locationFilter" id="locationFilter" class="border border-gray-300 rounded px-2 py-1">
                        <option value="">Vše</option>
                        @for (location of locationsList; track $index) {
                            <option value="{{ location }}">{{ location }}</option>
                        }
                    </select>
                </div>
            }
        </div>
        <div class="text-center mb-5">
            <button type="button" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-4 rounded cursor-pointer active:bg-indigo-800 transition-colors duration-200">Smazat filtry</button>
        </div>
        <div #tableContainer class="flex justify-center flex-col overflow-y-auto overflow-x-hidden" [class]="filterHiddenStyle"> <!-- Tabulka -->
            <table class="table-auto border-collapse border border-gray-400 w-3xl text-center">
                <thead class="bg-indigo-500 text-white h-7 w-full sticky top-0 z-10">
                    <tr>
                        <th>Inventární číslo</th>
                        <th>Název</th>
                        <th>Typ</th>
                        <th>Lokace</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody class="order-separate border-spacing-0 w-full relative" [class]="filterHiddenStyle">
                    @for (machine of machinesList; track $index) {
                        @if (rowFiltered(machine)) {
                        <tr class="even:bg-indigo-200 h-7">
                            <td>{{ machine[1] }}</td> <!-- Inventární číslo -->
                            <td>{{ machine[2] }}</td> <!-- Název -->
                            <td>{{ machine[3] }}</td> <!-- Typ -->
                            <td>{{ machine[4] }}</td> <!-- Lokace -->
                            <td class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-4 cursor-pointer active:bg-indigo-800 transition-colors duration-200"><button class="cursor-pointer">Detaily</button></td>
                        </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    }
</main>