@import "tailwindcss";

div.max-table-h-filter-shown {
    height: 42vh;
}
div.max-table-h-filter-hidden {
    height: 55vh;
}
tbody.max-table-h-filter-shown.overflowing {
    @apply relative top-4;
}
tbody.max-table-h-filter-shown.nonoverflowing {
    @apply relative top-0;
}
tbody.max-table-h-filter-hidden {
    @apply relative top-0;
}