@import "tailwindcss";

.max-table-h-filter-shown {
    max-height: 42vh;
}
.max-table-h-filter-hidden {
    max-height: 55vh;
}

.add-form-input {
    @apply border border-gray-300 rounded px-2 py-1 w-full mb-4;
}