<app-header-btns />
<main class="p-7 bg-gray-100 my-5 rounded-lg shadow-lg shadow-gray-300 h-90vh">
    @if (mode == 'add') {
        <form (ngSubmit)="onSubmit($event)" class="max-w-md mx-auto">
            <label for="name" class="block mb-2 font-semibold">Typ revize:</label>
            <select #revTypeAdd id="rev_type_add" class="border border-gray-300 rounded px-2 py-1 w-full">
                <option value="" selected disabled></option>
                @for (revType of revTypesList; track $index) {
                    <option value="{{ revType[0] }}">{{ revType[1] }}</option>
                }
            </select>
            <label for="machine" class="block mb-2 font-semibold">Stroj:</label>
            <select #machineAdd id="machine_add" class="border border-gray-300 rounded px-2 py-1 w-full">
                <option value="" selected disabled></option>
                @for (machine of activeMachinesList; track $index) {
                    <option value="{{ machine[0] }}">{{ machine[2] }} ({{ machine[1] }})</option>
                }
            </select>

            <label for="period_length" class="block mb-2 font-semibold">Frekvence revize:</label>
            <p><input name="period_length" [(ngModel)]="form_period_length" required autocomplete="off" type="number" id="period_length" class="add-form-input w-7/8" value="0" min="1" /> měsíců</p>

            <button type="submit" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-2 px-4 rounded cursor-pointer active:bg-indigo-800 transition-colors duration-200">Přidat revizi ke stroji</button>
        </form>
    }
    @else if (mode == 'remove') {
        <div>
            <h2 class="text-xl font-bold mb-4">Vyber stroj k odebrání</h2>
            <select #periodRem id="rev_type_rem" class="border border-gray-300 rounded px-2 py-1 w-full">
                <option value="" selected disabled></option>
                @for (entry of periodicities; track $index) {
                    <option value="{{ entry[0] }}">{{ periodGet.revType(entry)[1] }} &mdash; {{ periodGet.machine(entry)[2] }} &mdash; {{ periodGet.machine(entry)[1] }} &mdash; {{ entry[3] }}m</option>
                }
            </select>
            <div class="text-center mt-5">
                <button (click)="removePeriodicity()" type="button" class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded cursor-pointer active:bg-red-800 transition-colors duration-200">Odebrat pravidlo</button>
            </div>
        </div>
    }
    @else if (mode == 'list') {
        <div class="grid grid-cols-2 gap-4 mb-2 pb-4 place-items-center bg-gray-200">
            <div class="col-span-2 flex items-center justify-between bg-gray-500 w-full"> <!-- Nadpis filtrů, schování filtrů -->
                    <img [src]="filterI.iconGet" alt="Schovat filtry"
                        class="w-3.5 inline absolute left-1/13 bg-gray-300 p-0.5 rounded cursor-pointer hover:bg-gray-400 transition-colors duration-200"
                        (click)="filterI.toggleInterface()"
                    />
                <span class="text-xs mx-auto left-3 relative transform -translate-x-1/2 text-white">Filtry</span>
                <span></span>
            </div>
            @if (filterI.showing) {
                <div>
                    <label for="machineName" class="mr-2 font-semibold">Název stroje:</label>
                    <input autocomplete="off" [(ngModel)]="filterI.filterValues['machineName']" type="text" id="machineName" class="border border-gray-300 rounded px-2 py-1" placeholder="Název stroje" />
                </div>
                <div>
                    <label for="machineInNum" class="mr-2 font-semibold">Inv. číslo stroje:</label>
                    <input autocomplete="off" [(ngModel)]="filterI.filterValues['machineInNum']" type="text" id="machineInNum" class="border border-gray-300 rounded px-2 py-1" placeholder="Inv. č. stroje" />
                </div>
                <div>
                    <label for="revType" class="mr-2 font-semibold">Název revize:</label>
                    <input autocomplete="off" [(ngModel)]="filterI.filterValues['revType']" type="text" id="revType" class="border border-gray-300 rounded px-2 py-1" placeholder="Název revize" />
                </div>
                <div></div>
                <div>
                    <label for="minPeriod" class="mr-2 font-semibold">Minimální periodicita:</label>
                    <input autocomplete="off" [(ngModel)]="filterI.filterValues['minPeriod']" type="number" min="0" id="minPeriod" class="border border-gray-300 rounded px-2 py-1" placeholder="min. perioda" />
                </div>
                <div>
                    <label for="maxPeriod" class="mr-2 font-semibold">Maximální periodicita:</label>
                    <input autocomplete="off" [(ngModel)]="filterI.filterValues['maxPeriod']" type="number" min="0" id="maxPeriod" class="border border-gray-300 rounded px-2 py-1" placeholder="max. perioda" />
                </div>
            }
        </div>
        <div class="text-center mb-5">
            <button (click)="filterI.deleteFilters()" type="button" class="bg-indigo-500 hover:bg-indigo-700 text-white font-bold py-1 px-4 rounded cursor-pointer active:bg-indigo-800 transition-colors duration-200">Smazat filtry</button>
        </div>
        <div #tableContainer class="flex justify-center flex-col"> <!-- Tabulka -->
            <div [class]="filterI.hiddenStyleValue" class="overflow-y-auto overflow-x-hidden"> <!-- Pro scrollování tabulky -->
                <table class="table-auto border-collapse border border-gray-400 w-3xl text-center">
                    <thead class="bg-indigo-500 text-white h-7 w-full sticky top-0 z-10">
                        <tr>
                            <th>Typ revize</th>
                            <th>Stroj (<span (click)="toggleMachineColText = 1 - toggleMachineColText" class="cursor-pointer select-none hover:bg-indigo-600 rounded transition-colors duration-200">
                                @if (!toggleMachineColText) {
                                    Název
                                } @else {
                                    Inv. číslo
                                }
                            </span>)</th>
                            <th>Perioda (měs.)</th>
                            <!-- <th colspan="2">
                                <img [src]="filterI.iconGet.slice(0,-4) + '_white.svg'" alt="Podrobný popis tlačítek"
                                    class="w-5 inline fill-white left-1/13 shadow bg-indigo-600 p-0.5 rounded-xs cursor-pointer hover:bg-indigo-700 transition-colors duration-200"
                                    (click)="toggleDetailedButtons()"
                                />
                            </th> -->
                        </tr>
                    </thead>
                    <tbody #tbody class="order-separate border-spacing-0 w-full">
                        @for (periodicity of periodicities; track $index) {
                            @if (rowFiltered(periodicity)) {
                                <tr class="even:bg-indigo-200 h-7" [class]="isFacility(periodicity)">
                                    <td class="w-1/3">{{ periodGet.revType(periodicity)[1] }}</td> <!-- Typ revize -->
                                    <td class="w-1/3">{{ periodGet.machine(periodicity)[2-toggleMachineColText] }}</td> <!-- Stroj -->
                                    <td class="w-2/9">{{ periodicity[3] }}</td> <!-- Perioda -->
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
</main>
@if (showDialog) {
<app-dialog-container (closeDialog)="showDialog = false">
    @switch (dialogContent) {
        @default {
            <p>Tohle by se zobrazit nemělo.</p>
            <p>Error: {{ dialogContent }}</p>
        }
        @case ('successAddPeriodicity') {
            <h2 class="text-xl font-bold mb-4">Úspěch</h2>
            <p>Revize úspěšně přidána.</p>
        }
        @case ('errorMissingFields') {
            <h2 class="text-xl font-bold mb-4">Chyba</h2>
            <p>Prosím vyplňte všechna pole.</p>
        }
        @case ('errorInvalidPeriod') {
            <h2 class="text-xl font-bold mb-4">Chyba</h2>
            <p>Frekvence revizí musí být kladné celé číslo.</p>
        }
        @case ('errorNoSelection') {
            <h2 class="text-xl font-bold mb-4">Chyba</h2>
            <p>Prosím vyberte typ revize k odebrání.</p>
        }
        @case ('removeSuccess') {
            <h2 class="text-xl font-bold mb-4">Úspěch</h2>
            <p>Revize úspěšně odebrána.</p>
        }
        @case ('errorPeriodicityExists') {
            <h2 class="text-xl font-bold mb-4">Chyba</h2>
            <p>Pro tento stroj a typ revize již existuje nastavená periodicita.</p>
        }
    }
</app-dialog-container>
}